amqp
asn1crypto
bcrypt
billiard
celery
certifi
cffi
chardet
coreapi
coreschema
cryptography
Django
django-celery-beat
django-celery-results
django-configurations
djangorestframework
djangorestframework-jwt
django-suit
ephem
eventlet
Fabric3
gevent
greenlet
gunicorn
idna
itypes
Jinja2
kombu
MarkupSafe
olefile
paramiko
Pillow
psycopg2-binary
pyasn1
pycparser
PyJWT
PyNaCl
python-dateutil
pytz
requests
six
uritemplate
urllib3
vine
python-dotenv
python-dotenv[cli]
ConcurrentLogHandler
phonenumbers
flake8
